<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <link rel="stylesheet"  th:href="@{styles/home.css}">
    <title>Green Vibes</title>
</head>
<body>
    <div layout:fragment="content">

        <main>
            <div class="account_manage_display" id="account_manage_display">
                <div class="x_close_window">
                    <button id="x_close_window">X</button>
                </div>

                <form>
                    <label for="input_login">Login</label>
                    <input class="input_write" id="input_login">
                    <label for="input_password">Password</label>
                    <input class="input_write" id="input_password">
                    <input class="general_button login_create_button" type="submit" value="Enter">
                </form>

                <p> or </p>

                <a class="general_button login_create_button" th:href="@{/userRegister}">Create Account</a>

            </div>

            <div class="home_zone">

            </div>

            <div class="home_zone">

            </div>

            <div class="home_zone">

            </div>
        </main>
        <script type="text/javascript" th:src="@{js/standard.js}"></script>
    </div>
</body>
</html>