<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <link rel="stylesheet"  th:href="@{styles/userRegister.css}">
    <title>User Register</title>
</head>
<body>
    <div layout:fragment="content">
        <main>
            <form class="user_form">
                <div class="form_title">
                    <h2>User Register</h2>
                </div>

                <div>
                    <div class="label_input_zone">
                        <label for="name_input">Name: </label>
                        <input class="input_write" id="name_input">
                    </div>

                    <div class="label_input_zone">
                        <label for="email_input">E-mail:</label>
                        <input class="input_write" id="email_input">
                    </div>

                    <div class="label_input_zone">
                        <label for="password_input">Password:</label>
                        <input class="input_write" id="password_input">
                    </div>

                    <div class="label_input_zone">
                        <label for="conf_password_input">Confirm Password:</label>
                        <input class="input_write" id="conf_password_input">
                    </div>

                    <div class="label_input_zone">
                        <label for="address_input">Address:</label>
                        <input class="input_write" id="address_input">
                    </div>

                    <div class="label_input_zone">
                        <label for="birthday_input">Birthday:</label>
                        <input class="input_write" id="birthday_input">
                    </div>
                </div>

                <div class="submit_button_zone">
                    <input class="general_button" type="submit" value="Register">
                </div>

            </form>
        </main>
    </div>
</body>
</html>