<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Account Settings</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="account_content content_settings" id="account_settings">
            <h2>Settings</h2>

            <div class="account_settings_list">
                <p>list to change user registration</p>

                <input class="general_button" type="submit" value="Update">
            </div>

            <div class="account_manage">
                <button class="general_button">Log Out</button>
                <button class="general_button">Delete Account</button>
            </div>
        </div>
    </div>
</body>
</html>