<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <link rel="stylesheet"  th:href="@{styles/userRegister.css}">
    <title>User Register</title>
</head>
<body>
    <div layout:fragment="content">
        <main>
            <form class="user_form">
                <div class="form_title">
                    <h2>User Register</h2>
                </div>

                <div>
                    <div class="label_input_zone">
                        <label for="name_input">Name: </label>
                        <input class="input_write" id="name_input">
                    </div>

                    <div class="label_input_zone">
                        <label for="email_input">E-mail:</label>
                        <input class="input_write" id="email_input">
                    </div>

                    <div class="label_input_zone">
                        <label for="password_input">Password:</label>
                        <input class="input_write" id="password_input">
                    </div>

                    <div class="label_input_zone">
                        <label for="conf_password_input">Confirm Password:</label>
                        <input class="input_write" id="conf_password_input">
                    </div>

                    <div class="label_input_zone">
                        <label for="address_input">Address:</label>
                        <input class="input_write" id="address_input">
                    </div>

                    <div class="label_input_zone">
                        <label for="birthday_input">Birthday:</label>
                        <input class="input_write" id="birthday_input">
                    </div>

                    <div class="label_input_zone">
                        <label for="profession_input">Profession:</label>
                        <input class="input_write" id="profession_input">
                    </div>

                    <div class="label_input_zone">
                        <label for="level_schooling_input">Level Schooling:</label>
                        <select class="input_write" name="cars" id="level_schooling_input">
                            <option value="child_education">Child Education</option>
                            <option value="elementary">Elementary</option>
                            <option value="elementary_incomplete">Elementary Incomplete</option>
                            <option value="graduation">Graduation</option>
                            <option value="incomplete_graduation">Incomplete Graduation</option>
                            <option value="postgraduate">Postgraduate</option>
                            <option value="master_degree">Master's degree</option>
                            <option value="doctorate_degree">Doctorate degree</option>
                        </select>
                    </div>

                    <div class="label_input_zone">
                        <label for="gender_input">Gender:</label>
                        <input class="input_write" id="gender_input">
                    </div>

                    <div class="label_input_zone">
                        <label for="race_input">Race:</label>
                        <input class="input_write" id="race_input">
                    </div>

                    <div class="label_input_zone">
                        <label for="photo_input">Profile Picture:</label>
                        <input class="input_image" type="file" id="photo_input" accept="image/*">
                    </div>
                </div>

                <div class="submit_button_zone">
                    <input class="general_button" type="submit" value="Register">
                </div>

            </form>
        </main>
    </div>
</body>
</html>