<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <link rel="stylesheet"  th:href="@{styles/productRegister.css}">
    <title>Product Register</title>
</head>
<body>
    <div layout:fragment="content">
        <main>
            <form class="product_form" id="product_form" action="/productRegister/product-register" method="post" enctype="multipart/form-data">
                <div class="form_title">
                    <h2>Product Register</h2>
                </div>

                <div>
                    <div class="label_input_zone">
                        <label for="name_input">Name*</label>
                        <input class="input_write" id="name_input" name="product_name" required />
                    </div>

                    <div class="label_input_zone">
                        <label for="type_input">Type</label>
                        <input class="input_write" id="type_input" name="product_type" />
                    </div>

                    <div class="label_input_zone">
                        <label for="materials_input">Materials</label>
                        <input class="input_write" id="materials_input" name="product_materials" />
                    </div>

                    <div class="label_input_zone">
                        <label for="dimensions_input">Dimensions*</label>
                        <input class="input_write" id="dimensions_input" name="product_dimensions" required />
                    </div>

                    <div class="label_input_zone">
                        <label for="model_input">Model</label>
                        <input class="input_write" id="model_input" name="product_model" />
                    </div>

                    <div class="label_input_zone">
                        <label for="year_input">Year*</label>
                        <input class="input_write" id="year_input" name="product_year" required />
                    </div>

                    <div class="label_input_zone">
                        <label for="weight_input">Weight*</label>
                        <input class="input_write" id="weight_input" name="product_weight" required />
                    </div>

                    <div class="label_input_zone">
                        <label for="description_input">Description*</label>
                        <input type="text" class="input_write" id="description_input" name="product_description" required />
                    </div>

                    <div class="label_input_zone">
                        <label for="price_input">Price*</label>
                        <input class="input_write" id="price_input" name="product_price" required />
                    </div>

                    <div class="label_input_zone">
                        <label for="stock_input">Stock*</label>
                        <input class="input_write" id="stock_input" name="product_stock" required />
                    </div>

                    <!--
                    <div class="label_input_zone">
                        <label for="image_input">Product Image*</label>
                        <input class="input_image" type="file" id="image_input" name="product_image" accept=".jpg, .jpeg, .png" required />
                    </div>
                    -->
                </div>

                <div class="submit_button_zone">
                    <input class="general_button" type="submit" value="Register" />
                </div>

            </form>
        </main>
    </div>
</body>
</html>